<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/EmployeeDatabase</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.connection.password">Postgre12@</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
<!--  <property name="hibernate.default_schema">public</property> -->
  <property name="show_sql">true</property>
  <mapping resource="com/cit/employee/Employee.hbm.xml"></mapping>
  <mapping class="com.ibm.cit.employeeStatsWeb.EmployeeStatsWeb.model.Employee"/>
  <mapping resource="com/cit/employee/Login.hbm.xml"></mapping>
  <!--<mapping class="com.ibm.cit.employeeStatsWeb.EmployeeStatsWeb.model.User"/>-->
  <mapping resource="com/cit/employee/LoginToken.hbm.xml"></mapping>
 <!-- <mapping class="com.ibm.cit.employeeStatsWeb.EmployeeStatsWeb.model.LoginToken"/>-->
</session-factory>
</hibernate-configuration>