<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="RollingAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./log/app.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="XML:[%p] %d %c %M - %m%n" />
		</layout>
	</appender>
	<logger name="com.ibm.cit.empoyeeStatsWeb.EmployeeStatsWeb">
		<level value="TRACE"/>
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="RollingAppender" />
	</root>

</log4j:configuration>